# 垃圾Tushare 和 贼贵的 jointquant 之间的折中方案 qstock

In [1]:
import qstock as qs
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import numpy as np
import talib as ta
import plotly_express as px

In [11]:
df = qs.realtime_data()
df.head(20)

,代码,名称,涨幅,最新,最高,最低,今开,换手率,量比,市盈率,成交量,成交额,昨收,总市值,流通市值,时间
0,688593,N新相微,88.46,21.07,23.60,18.99,19.00,84.68,NaN,120.60,578959.0,1.204251e+09,11.18,9.682285e+09,1.440645e+09,2023-06-01 15:59:57
1,001373,N翔腾,59.18,46.05,49.90,45.11,45.12,67.73,NaN,78.21,116311.0,5.450911e+08,28.93,3.163031e+09,7.907578e+08,2023-06-01 15:34:30
2,300165,天瑞仪器,20.06,7.54,7.54,6.24,6.24,23.44,2.67,-360.56,910797.0,6.509205e+08,6.28,3.736158e+09,2.929194e+09,2023-06-01 15:34:45
3,688590,新致软件,20.02,20.68,20.68,16.55,17.11,23.91,2.46,169.63,384640.0,7.249014e+08,17.23,4.936807e+09,3.327346e+09,2023-06-01 15:59:50
4,689009,九号公司-WD,20.01,39.22,39.22,33.50,33.59,4.03,5.67,401.44,206157.0,7.647078e+08,32.68,2.809911e+10,2.006889e+10,2023-06-01 15:59:35
5,301377,鼎泰高科,20.00,25.38,25.38,22.49,22.55,38.62,4.10,38.11,193108.0,4.760087e+08,21.15,1.040580e+10,1.269000e+09,2023-06-01 15:34:39
6,300081,恒信东方,20.00,9.72,9.72,8.15,8.15,33.47,3.52,-68.26,1646487.0,1.548039e+09,8.10,5.878611e+09,4.781879e+09,2023-06-01 15:34:27
7,300518,盛讯达,19.99,35.89,35.89,29.85,30.00,4.11,3.52,370.78,56114.0,1.907857e+08,29.91,5.112058e+09,4.900196e+09,2023-06-01 15:34:57
8,301293,三博脑科,16.79,114.91,118.07,95.02,95.02,54.86,1.35,183.65,187214.0,2.054254e+09,98.39,1.820767e+10,3.921217e+09,2023-06-01 15:34:57
9,301231,荣信文化,14.66,42.16,44.12,36.80,36.99,63.38,1.69,260.31,133732.0,5.444567e+08,36.77,3.558304e+09,8.895760e+08,2023-06-01 15:34:18
10,688079,美迪凯,14.04,13.00,13.68,11.20,11.40,16.57,5.43,-251.97,295068.0,3.763247e+08,11.40,5.217333e+09,2.315516e+09,2023-06-01 15:59:57
11,688478,晶升股份,12.20,55.20,59.04,52.00,52.00,41.29,2.22,782.75,118038.0,6.609594e+08,49.20,7.637808e+09,1.577900e+09,2023-06-01 15:59:55
12,301066,万事利,12.17,18.62,19.00,16.62,16.90,24.69,1.57,101.07,177896.0,3.206731e+08,16.60,3.507118e+09,1.341545e+09,2023-06-01 15:34:48
13,300449,汉邦高科,12.10,7.04,7.38,6.23,6.25,17.84,2.40,-78.99,528157.0,3.674911e+08,6.28,2.099743e+09,2.084241e+09,2023-06-01 15:34:51
14,300654,世纪天鸿,11.52,18.00,18.40,15.91,15.93,21.43,1.33,207.00,684518.0,1.192393e+09,16.14,6.483393e+09,5.748687e+09,2023-06-01 15:34:15
15,300299,富春股份,11.35,8.24,8.66,7.30,7.31,26.14,1.86,168.55,1691439.0,1.337718e+09,7.40,5.695731e+09,5.332068e+09,2023-06-01 15:34:18
16,300079,数码视讯,11.23,7.03,7.25,6.27,6.30,15.84,6.63,254.25,2001808.0,1.384477e+09,6.32,1.004593e+10,8.885809e+09,2023-06-01 15:34:57
17,300426,唐德影视,11.19,15.50,16.46,13.64,13.64,9.60,1.58,-102.07,381166.0,5.832827e+08,13.94,6.339571e+09,6.152623e+09,2023-06-01 15:35:00
18,688365,光云科技,11.02,17.93,19.38,16.30,16.30,6.24,3.12,-110.75,250198.0,4.481524e+08,16.15,7.635037e+09,7.189930e+09,2023-06-01 15:59:56
19,300225,金力泰,10.76,7.10,7.15,6.40,6.45,6.93,2.30,-251.15,328646.0,2.261136e+08,6.41,3.473358e+09,3.365363e+09,2023-06-01 15:34:12

In [3]:
len(df)

5212

In [16]:
# 找到名称中含有ST的股票
df[df['名称'].str.contains('ST')]

,代码,名称,涨幅,最新,最高,最低,今开,换手率,量比,市盈率,成交量,成交额,昨收,总市值,流通市值,时间
154,000616,*ST海投,5.33,0.79,0.79,0.76,0.76,3.42,1.31,-31.52,488539.0,3.802863e+07,0.75,1.129885e+09,1.129885e+09,2023-06-01 15:34:48
159,000711,*ST京蓝,5.22,1.41,1.41,1.41,1.41,0.22,0.08,-3.75,21299.0,3.003103e+06,1.34,1.443372e+09,1.385075e+09,2023-06-01 15:34:24
162,000839,ST国安,5.18,2.03,2.03,1.92,1.92,0.76,1.23,27.12,299510.0,6.002492e+07,1.93,7.957247e+09,7.957247e+09,2023-06-01 15:34:48
171,603880,ST南卫,5.06,4.57,4.57,4.31,4.32,3.70,2.82,48.21,107043.0,4.825243e+07,4.35,1.336606e+09,1.320922e+09,2023-06-01 15:59:49
174,002021,*ST中捷,5.00,1.68,1.68,1.63,1.68,1.74,1.03,320.95,119758.0,2.008455e+07,1.60,1.155529e+09,1.155491e+09,2023-06-01 15:34:54
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5139,600654,*ST中安,-5.13,2.59,2.72,2.59,2.72,1.19,2.28,-254.93,272043.0,7.144586e+07,2.73,7.277900e+09,5.910437e+09,2023-06-01 15:59:40
5144,002699,*ST美盛,-5.23,1.45,1.49,1.45,1.47,1.97,0.30,-32.64,178920.0,2.612102e+07,1.53,1.318880e+09,1.318717e+09,2023-06-01 15:34:18
5146,002504,*ST弘高,-5.26,0.54,0.54,0.54,0.54,0.04,0.25,-9.50,1517.0,8.191800e+04,0.57,5.539323e+08,2.238159e+08,2023-06-01 15:34:21
5160,000671,ST阳光城,-5.77,0.49,0.49,0.49,0.49,0.06,0.84,-1.08,25374.0,1.243326e+06,0.52,2.028788e+09,1.988583e+09,2023-06-01 15:34:06
5196,300799,*ST左江,-8.94,250.50,276.00,220.06,275.00,2.57,5.73,-211.51,17391.0,4.171779e+08,275.08,2.556603e+10,1.692754e+10,2023-06-01 15:34:21

In [17]:
# 剔除名称中含有ST的股票
df = df[~df['名称'].str.contains('ST')]

In [12]:
# 剔除股票代码中以300和688开头的股票
df = df[~df['代码'].str.startswith(('300', '688'))]
df

,代码,名称,涨幅,最新,最高,最低,今开,换手率,量比,市盈率,成交量,成交额,昨收,总市值,流通市值,时间
1,001373,N翔腾,59.18,46.05,49.90,45.11,45.12,67.73,NaN,78.21,116311.0,5.450911e+08,28.93,3.163031e+09,7.907578e+08,2023-06-01 15:34:30
4,689009,九号公司-WD,20.01,39.22,39.22,33.50,33.59,4.03,5.67,401.44,206157.0,7.647078e+08,32.68,2.809911e+10,2.006889e+10,2023-06-01 15:59:35
5,301377,鼎泰高科,20.00,25.38,25.38,22.49,22.55,38.62,4.10,38.11,193108.0,4.760087e+08,21.15,1.040580e+10,1.269000e+09,2023-06-01 15:34:39
8,301293,三博脑科,16.79,114.91,118.07,95.02,95.02,54.86,1.35,183.65,187214.0,2.054254e+09,98.39,1.820767e+10,3.921217e+09,2023-06-01 15:34:57
9,301231,荣信文化,14.66,42.16,44.12,36.80,36.99,63.38,1.69,260.31,133732.0,5.444567e+08,36.77,3.558304e+09,8.895760e+08,2023-06-01 15:34:18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5204,603291,联合水务,-10.01,16.18,16.18,16.18,16.18,10.11,0.26,100.21,42796.0,6.924393e+07,17.98,6.847709e+09,6.847709e+08,2023-06-01 15:59:48
5205,603196,日播时尚,-10.01,22.47,23.69,22.47,22.88,7.20,1.25,110.38,171173.0,3.918694e+08,24.97,5.384767e+09,5.344429e+09,2023-06-01 15:59:39
5207,605580,恒盛能源,-10.03,14.36,15.23,14.36,14.40,40.80,1.02,36.28,291957.0,4.240270e+08,15.96,4.020800e+09,1.027515e+09,2023-06-01 15:59:41
5208,002191,劲嘉股份,-10.03,6.28,6.38,6.28,6.28,1.31,1.74,14.45,186867.0,1.174771e+08,6.98,9.237174e+09,8.979274e+09,2023-06-01 15:34:36
5211,301041,金百泽,-12.38,34.17,36.80,34.16,36.00,39.76,1.31,228.90,244265.0,8.608878e+08,39.00,3.645256e+09,2.099431e+09,2023-06-01 15:34:33

In [13]:
df[df['名称'] == '上海电影']['代码'].values[0]

'601595'

In [17]:
df[df['名称'] != 'N翔腾']

,代码,名称,涨幅,最新,最高,最低,今开,换手率,量比,市盈率,成交量,成交额,昨收,总市值,流通市值,时间
4,689009,九号公司-WD,20.01,39.22,39.22,33.50,33.59,4.03,5.67,401.44,206157.0,7.647078e+08,32.68,2.809911e+10,2.006889e+10,2023-06-01 15:59:35
5,301377,鼎泰高科,20.00,25.38,25.38,22.49,22.55,38.62,4.10,38.11,193108.0,4.760087e+08,21.15,1.040580e+10,1.269000e+09,2023-06-01 15:34:39
8,301293,三博脑科,16.79,114.91,118.07,95.02,95.02,54.86,1.35,183.65,187214.0,2.054254e+09,98.39,1.820767e+10,3.921217e+09,2023-06-01 15:34:57
9,301231,荣信文化,14.66,42.16,44.12,36.80,36.99,63.38,1.69,260.31,133732.0,5.444567e+08,36.77,3.558304e+09,8.895760e+08,2023-06-01 15:34:18
12,301066,万事利,12.17,18.62,19.00,16.62,16.90,24.69,1.57,101.07,177896.0,3.206731e+08,16.60,3.507118e+09,1.341545e+09,2023-06-01 15:34:48
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5204,603291,联合水务,-10.01,16.18,16.18,16.18,16.18,10.11,0.26,100.21,42796.0,6.924393e+07,17.98,6.847709e+09,6.847709e+08,2023-06-01 15:59:48
5205,603196,日播时尚,-10.01,22.47,23.69,22.47,22.88,7.20,1.25,110.38,171173.0,3.918694e+08,24.97,5.384767e+09,5.344429e+09,2023-06-01 15:59:39
5207,605580,恒盛能源,-10.03,14.36,15.23,14.36,14.40,40.80,1.02,36.28,291957.0,4.240270e+08,15.96,4.020800e+09,1.027515e+09,2023-06-01 15:59:41
5208,002191,劲嘉股份,-10.03,6.28,6.38,6.28,6.28,1.31,1.74,14.45,186867.0,1.174771e+08,6.98,9.237174e+09,8.979274e+09,2023-06-01 15:34:36
5211,301041,金百泽,-12.38,34.17,36.80,34.16,36.00,39.76,1.31,228.90,244265.0,8.608878e+08,39.00,3.645256e+09,2.099431e+09,2023-06-01 15:34:33

In [9]:
data = qs.get_data('600296', start='20230101', end='20230601', freq=120)
data

100%|██████████| 1/1 [00:00<00:00,  2.86it/s]

Empty DataFrame
Columns: [date, name, code, open, high, low, close, volume, turnover, turnover_rate]
Index: []

In [28]:
data['name'].values[0]

'上海电影'

In [34]:
data[-10:]

,name,code,open,high,low,close,volume,turnover,turnover_rate
date,,,,,,,,,
2023-05-26 11:30:00,上海电影,601595,28.28,29.88,28.01,28.98,169874,494376165.0,3.79
2023-05-26 15:00:00,上海电影,601595,29.02,30.14,28.94,29.11,112710,333177426.0,2.51
2023-05-29 11:30:00,上海电影,601595,28.90,29.44,28.30,29.14,121680,350718123.0,2.71
2023-05-29 15:00:00,上海电影,601595,29.18,29.49,27.87,28.28,99092,282898822.0,2.21
2023-05-30 11:30:00,上海电影,601595,27.70,29.28,27.56,28.80,135354,384863224.0,3.02
2023-05-30 15:00:00,上海电影,601595,28.84,30.34,28.52,29.97,150447,445955262.0,3.36
2023-05-31 11:30:00,上海电影,601595,29.58,30.57,28.89,29.01,155998,460151314.0,3.48
2023-05-31 15:00:00,上海电影,601595,29.00,29.35,28.81,29.35,62391,181823567.0,1.39
2023-06-01 11:30:00,上海电影,601595,29.17,31.75,28.85,31.11,233858,719224823.0,5.22
2023-06-01 15:00:00,上海电影,601595,31.12,31.80,30.48,30.59,96447,300130488.0,2.15

In [20]:
codes = df['代码'].to_list()
codes

['001373',
 '689009',
 '301377',
 '301293',
 '301231',
 '301066',
 '301270',
 '600540',
 '600822',
 '002582',
 '000888',
 '600560',
 '002843',
 '600661',
 '603282',
 '600213',
 '001210',
 '605588',
 '002173',
 '601177',
 '002230',
 '002805',
 '601949',
 '002995',
 '605118',
 '605598',
 '002395',
 '603199',
 '002902',
 '603363',
 '002713',
 '601900',
 '000917',
 '600158',
 '603629',
 '000810',
 '603869',
 '002602',
 '600831',
 '002292',
 '600775',
 '600715',
 '601921',
 '600246',
 '600532',
 '603099',
 '301360',
 '601801',
 '002528',
 '600359',
 '000066',
 '301302',
 '002351',
 '600573',
 '600088',
 '603277',
 '600242',
 '601599',
 '000156',
 '600337',
 '301330',
 '603067',
 '603721',
 '002324',
 '600552',
 '603163',
 '603383',
 '603595',
 '301110',
 '600373',
 '603228',
 '301061',
 '000719',
 '002946',
 '002649',
 '301221',
 '301004',
 '600505',
 '301035',
 '603076',
 '600446',
 '603322',
 '601858',
 '002362',
 '600072',
 '301013',
 '603388',
 '301011',
 '002674',
 '000997',
 '301025',
 '002719',
 '002236',
 '000616',
 '603223',
 '000711',
 '603096',
 '000839',
 '605289',
 '603880',
 '002021',
 '002681',
 '002410',
 '000525',
 '002289',
 '601199',
 '002108',
 '605098',
 '000620',
 '601999',
 '603030',
 '600696',
 '603237',
 '003011',
 '600823',
 '000681',
 '603606',
 '603580',
 '002428',
 '002122',
 '600100',
 '603999',
 '301312',
 '603615',
 '603598',
 '002207',
 '603519',
 '600757',
 '603230',
 '603081',
 '600767',
 '600825',
 '600189',
 '002475',
 '600228',
 '002241',
 '000929',
 '002343',
 '603258',
 '002837',
 '301068',
 '000046',
 '301103',
 '600967',
 '000610',
 '002400',
 '601595',
 '603066',
 '601519',
 '301120',
 '601019',
 '002316',
 '603882',
 '603697',
 '301382',
 '301316',
 '000868',
 '002632',
 '603825',
 '600375',
 '601360',
 '002482',
 '002272',
 '600733',
 '301033',
 '002901',
 '603377',
 '002712',
 '301380',
 '301230',
 '605399',
 '600251',
 '600257',
 '301396',
 '002174',
 '603867',
 '603039',
 '601811',
 '603533',
 '000892',
 '601928',
 '002780',
 '600118',
 '002291',
 '301161',
 '603477',
 '002189',
 '605168',
 '600576',
 '002429',
 '600975',
 '000670',
 '600880',
 '600037',
 '600280',
 '301236',
 '002425',
 '000004',
 '000665',
 '603636',
 '002002',
 '600570',
 '301313',
 '603077',
 '600895',
 '002181',
 '601116',
 '601899',
 '002313',
 '002899',
 '002086',
 '002585',
 '600756',
 '605577',
 '000026',
 '002726',
 '000607',
 '603259',
 '002238',
 '000701',
 '002821',
 '600136',
 '000702',
 '002453',
 '601929',
 '600399',
 '002903',
 '603219',
 '600793',
 '301269',
 '002234',
 '002489',
 '605299',
 '002175',
 '002123',
 '002599',
 '002932',
 '605499',
 '603127',
 '603613',
 '002279',
 '600184',
 '600212',
 '002648',
 '002945',
 '002192',
 '603712',
 '600229',
 '001330',
 '600745',
 '002415',
 '002709',
 '601098',
 '000921',
 '600193',
 '002574',
 '002197',
 '600977',
 '002772',
 '002008',
 '301141',
 '600636',
 '600556',
 '600637',
 '603648',
 '605162',
 '002092',
 '603215',
 '600959',
 '002354',
 '002576',
 '000639',
 '600388',
 '002799',
 '002420',
 '001270',
 '301113',
 '002746',
 '601028',
 '301339',
 '002611',
 '000721',
 '600884',
 '002955',
 '603889',
 '603189',
 '600588',
 '301088',
 '002493',
 '301171',
 '002678',
 '600749',
 '301188',
 '002045',
 '600882',
 '601606',
 '000850',
 '000655',
 '600996',
 '002876',
 '000560',
 '603618',
 '603378',
 '002338',
 '002168',
 '603109',
 '301215',
 '603103',
 '000923',
 '002891',
 '603997',
 '003031',
 '002624',
 '002131',
 '000793',
 '002858',
 '001328',
 '301169',
 '605189',
 '600354',
 '002159',
 '600814',
 '002910',
 '600476',
 '600730',
 '600718',
 '000576',
 '002300',
 '001203',
 '002356',
 '600941',
 '603600',
 '000860',
 '002245',
 '002878',
 '002512',
 '000807',
 '002301',
 '001338',
 '600647',
 '000529',
 '002068',
 '003032',
 '603138',
 '600386',
 '002755',
 '601121',
 '603466',
 '002803',
 '000960',
 '002405',
 '603888',
 '600593',
 '603666',
 '600455',
 '600624',
 '002195',
 '600894',
 '002982',
 '003000',
 '600238',
 '002846',
 '600551',
 '002073',
 '600418',
 '002852',
 '002941',
 '000852',
 '001283',
 '000816',
 '601390',
 '603032',
 '301096',
 '301112',
 '002836',
 '603171',
 '002549',
 '603912',
 '605066',
 '002820',
 '002127',
 '000430',
 '301118',
 '002222',
 '600828',
 '603052',
 '002935',
 '603970',
 '002738',
 '000048',
 '601698',
 '002544',
 '600986',
 '603108',
 '002717',
 '002515',
 '600616',
 '002481',
 '603826',
 '603050',
 '002186',
 '002264',
 '001318',
 '601998',
 '600063',
 '605599',
 '002153',
 '001314',
 '000962',
 '002414',
 '002530',
 '301009',
 '605136',
 '000603',
 '002246',
 '601777',
 '600787',
 '603679',
 '600110',
 '002089',
 '002053',
 '600506',
 '002254',
 '002908',
 '605108',
 '000063',
 '603217',
 '002184',
 '600028',
 '600050',
 '301368',
 '603116',
 '603121',
 '002336',
 '002041',
 '600482',
 '600522',
 '000905',
 '601233',
 '002668',
 '000557',
 '002845',
 '301116',
 '600180',
 '002925',
 '000863',
 '301363',
 '002792',
 '002104',
 '603399',
 '002341',
 '002261',
 '600255',
 '603136',
 '301428',
 '601555',
 '001323',
 '601881',
 '002905',
 '601989',
 '600197',
 '603976',
 '601699',
 '000617',
 '000035',
 '002600',
 '603985',
 '301125',
 '600084',
 '600962',
 '002597',
 '000534',
 '600425',
 '301183',
 '600233',
 '600857',
 '002219',
 '002730',
 '002554',
 '301039',
 '002193',
 '002448',
 '601677',
 '603527',
 '600278',
 '601668',
 '002697',
 '603843',
 '000957',
 '000524',
 '600096',
 '002327',
 '600490',
 '000751',
 '603306',
 '600549',
 '000415',
 '600879',
 '000338',
 '301189',
 '002563',
 '603225',
 '600590',
 '600571',
 '301180',
 '600499',
 '603887',
 '600498',
 '002786',
 '002253',
 '603927',
 '002657',
 '000710',
 '603068',
 '301226',
 '601163',
 '002235',
 '600686',
 '000735',
 '001300',
 '603956',
 '600644',
 '000564',
 '600845',
 '600990',
 '002520',
 '002467',
 '603877',
 '601857',
 '600936',
 '002478',
 '603663',
 '000568',
 '600371',
 '002385',
 '600148',
 '600653',
 '000032',
 '600031',
 '002404',
 '600510',
 '002638',
 '301032',
 '002581',
 '603808',
 '002667',
 '600728',
 '600568',
 '600826',
 '002635',
 '605128',
 '002380',
 '603000',
 '002507',
 '002601',
 '000099',
 '600640',
 '000151',
 '600770',
 '301333',
 '002445',
 '301327',
 '002877',
 '600666',
 '000977',
 '601117',
 '002833',
 '605338',
 '301121',
 '000880',
 '002232',
 '301131',
 '002456',
 '603866',
 '601996',
 '301085',
 '600935',
 '002440',
 '001209',
 '600618',
 '600155',
 '605589',
 '603508',
 '301239',
 '002029',
 '603155',
 '002374',
 '002248',
 '002695',
 '002892',
 '605167',
 '002640',
 '002965',
 '603958',
 '002659',
 '000636',
 '603816',
 '603123',
 '600210',
 '002052',
 '002044',
 '002042',
 '603861',
 '002139',
 '603569',
 '601688',
 '301367',
 '600727',
 '002375',
 '301050',
 '603227',
 '002531',
 '603516',
 '000906',
 '001218',
 '000566',
 '002315',
 '603579',
 '002651',
 '603307',
 '600339',
 '301286',
 '600893',
 '002642',
 '301060',
 '002461',
 '002622',
 '603687',
 '001236',
 '600746',
 '603626',
 '002065',
 '000504',
 '002731',
 '600395',
 '002728',
 '603289',
 '601728',
 '603456',
 '000677',
 '301100',
 '000978',
 '002009',
 '601168',
 '605488',
 '603110',
 '301177',
 '600125',
 '301102',
 '600259',
 '002962',
 '002095',
 '601007',
 '301150',
 '600419',
 '600132',
 '002863',
 '600665',
 '000420',
 '603392',
 '605123',
 '301212',
 '002987',
 '000837',
 '000910',
 '002579',
 '002605',
 '002072',
 '603106',
 '000848',
 '301001',
 '000913',
 '301349',
 '600818',
 '601956',
 '002741',
 '603630',
 '603135',
 '603486',
 '603283',
 '002036',
 '603992',
 '002607',
 '301266',
 '301338',
 '000708',
 '600135',
 '002774',
 '603798',
 '603517',
 '002862',
 '000792',
 '600231',
 '600501',
 '601890',
 '301283',
 '600239',
 '000545',
 '000716',
 '605198',
 '600682',
 '000822',
 '002423',
 '600258',
 '301083',
 '002307',
 '600981',
 '601882',
 '605266',
 '301168',
 '002686',
 '603112',
 '600097',
 '603319',
 '301036',
 '002340',
 '002835',
 '600409',
 '301062',
 '600410',
 '000876',
 '601718',
 '000858',
 '600717',
 '002249',
 '603026',
 '001317',
 '002702',
 '600449',
 '600531',
 '600429',
 '002369',
 '003010',
 '002251',
 '002337',
 '605166',
 '600398',
 '002806',
 '603507',
 '600545',
 '603290',
 '002373',
 '301051',
 '600298',
 '002895',
 '000825',
 '603906',
 '301199',
 '601601',
 '001222',
 '600057',
 '000723',
 '603489',
 '600390',
 '002154',
 '603536',
 '600458',
 '000851',
 '605365',
 '601279',
 '301217',
 '000757',
 '301256',
 '603169',
 '301059',
 '002785',
 '002386',
 '301238',
 '600858',
 '603260',
 '601628',
 '000698',
 '600809',
 '603390',
 '000998',
 '002087',
 '603729',
 '603779',
 '002798',
 '603308',
 '002187',
 '600281',
 '002562',
 '000599',
 '603639',
 '603160',
 '603345',
 '603979',
 '600968',
 '600355',
 '600277',
 '000552',
 '600185',
 '603823',
 '605188',
 '003016',
 '000561',
 '002378',
 '002927',
 '600288',
 '301299',
 '000158',
 '000428',
 '301037',
 '605178',
 '301018',
 '002233',
 '301389',
 '603029',
 '600282',
 '600470',
 '002669',
 '600802',
 '603057',
 '600888',
 '002263',
 '002347',
 '003030',
 '600764',
 '002539',
 '603097',
 '002110',
 '603868',
 '002756',
 '002331',
 '002258',
 '603192',
 '601022',
 '002012',
 '001205',
 '600869',
 '600358',
 '605111',
 '002689',
 '002779',
 '600697',
 '600655',
 '600783',
 '600141',
 '000811',
 '603353',
 '603900',
 '000821',
 '600960',
 '600336',
 '600547',
 '002097',
 '600983',
 '002476',
 '002749',
 '002513',
 '600860',
 '600753',
 '600797',
 '600320',
 '601086',
 '600671',
 '002882',
 '301336',
 '002735',
 '600509',
 '301007',
 '605077',
 '601065',
 '002081',
 '601038',
 '600073',
 '003021',
 '002650',
 '002626',
 '000898',
 '301325',
 '301326',
 '601778',
 '002685',
 '600846',
 '601186',
 '301390',
 '002634',
 '301300',
 '603018',
 '001207',
 '603766',
 '603728',
 '603929',
 '002442',
 '600705',
 '600586',
 '301026',
 '002951',
 '000547',
 '600523',
 '301314',
 '601615',
 '603073',
 '301155',
 '002654',
 '301185',
 '600250',
 '601633',
 '002167',
 '002273',
 '002577',
 '001289',
 '002054',
 '002463',
 '002361',
 '000629',
 '002299',
 '003004',
 '000969',
 '600633',
 '000915',
 '603131',
 '002136',
 '002587',
 '002322',
 '603898',
 '603967',
 '001339',
 '002828',
 '603860',
 '002486',
 '002350',
 '002274',
 '605333',
 '002677',
 '600172',
 '002268',
 '002800',
 '600248',
 '301361',
 '600583',
 '600190',
 '000506',
 '002522',
 '600887',
 '002575',
 '002111',
 '002031',
 '600938',
 '002690',
 '600058',
 '002446',
 '601298',
 '600166',
 '003041',
 '600710',
 '600651',
 '002017',
 '601318',
 '600688',
 '603993',
 '002802',
 '301069',
 '600971',
 '603408',
 '603021',
 '603087',
 '603660',
 '002059',
 '601008',
 '601228',
 '002722',
 '002763',
 '002049',
 '002298',
 '603968',
 '301048',
 '000862',
 '600881',
 '002483',
 '002441',
 '002124',
 '003017',
 '600866',
 '002348',
 '003023',
 '301092',
 '002614',
 '603978',
 '301200',
 '002046',
 '301108',
 '000010',
 '600313',
 '600778',
 '002985',
 '600567',
 '605100',
 '600487',
 '000951',
 '000912',
 '002957',
 '603829',
 '002240',
 '601226',
 '000519',
 '301167',
 '002311',
 ...]

In [21]:
len(codes)

3702

In [22]:
codes.remove('000158')
codes

['001373',
 '689009',
 '301377',
 '301293',
 '301231',
 '301066',
 '301270',
 '600540',
 '600822',
 '002582',
 '000888',
 '600560',
 '002843',
 '600661',
 '603282',
 '600213',
 '001210',
 '605588',
 '002173',
 '601177',
 '002230',
 '002805',
 '601949',
 '002995',
 '605118',
 '605598',
 '002395',
 '603199',
 '002902',
 '603363',
 '002713',
 '601900',
 '000917',
 '600158',
 '603629',
 '000810',
 '603869',
 '002602',
 '600831',
 '002292',
 '600775',
 '600715',
 '601921',
 '600246',
 '600532',
 '603099',
 '301360',
 '601801',
 '002528',
 '600359',
 '000066',
 '301302',
 '002351',
 '600573',
 '600088',
 '603277',
 '600242',
 '601599',
 '000156',
 '600337',
 '301330',
 '603067',
 '603721',
 '002324',
 '600552',
 '603163',
 '603383',
 '603595',
 '301110',
 '600373',
 '603228',
 '301061',
 '000719',
 '002946',
 '002649',
 '301221',
 '301004',
 '600505',
 '301035',
 '603076',
 '600446',
 '603322',
 '601858',
 '002362',
 '600072',
 '301013',
 '603388',
 '301011',
 '002674',
 '000997',
 '301025',
 '002719',
 '002236',
 '000616',
 '603223',
 '000711',
 '603096',
 '000839',
 '605289',
 '603880',
 '002021',
 '002681',
 '002410',
 '000525',
 '002289',
 '601199',
 '002108',
 '605098',
 '000620',
 '601999',
 '603030',
 '600696',
 '603237',
 '003011',
 '600823',
 '000681',
 '603606',
 '603580',
 '002428',
 '002122',
 '600100',
 '603999',
 '301312',
 '603615',
 '603598',
 '002207',
 '603519',
 '600757',
 '603230',
 '603081',
 '600767',
 '600825',
 '600189',
 '002475',
 '600228',
 '002241',
 '000929',
 '002343',
 '603258',
 '002837',
 '301068',
 '000046',
 '301103',
 '600967',
 '000610',
 '002400',
 '601595',
 '603066',
 '601519',
 '301120',
 '601019',
 '002316',
 '603882',
 '603697',
 '301382',
 '301316',
 '000868',
 '002632',
 '603825',
 '600375',
 '601360',
 '002482',
 '002272',
 '600733',
 '301033',
 '002901',
 '603377',
 '002712',
 '301380',
 '301230',
 '605399',
 '600251',
 '600257',
 '301396',
 '002174',
 '603867',
 '603039',
 '601811',
 '603533',
 '000892',
 '601928',
 '002780',
 '600118',
 '002291',
 '301161',
 '603477',
 '002189',
 '605168',
 '600576',
 '002429',
 '600975',
 '000670',
 '600880',
 '600037',
 '600280',
 '301236',
 '002425',
 '000004',
 '000665',
 '603636',
 '002002',
 '600570',
 '301313',
 '603077',
 '600895',
 '002181',
 '601116',
 '601899',
 '002313',
 '002899',
 '002086',
 '002585',
 '600756',
 '605577',
 '000026',
 '002726',
 '000607',
 '603259',
 '002238',
 '000701',
 '002821',
 '600136',
 '000702',
 '002453',
 '601929',
 '600399',
 '002903',
 '603219',
 '600793',
 '301269',
 '002234',
 '002489',
 '605299',
 '002175',
 '002123',
 '002599',
 '002932',
 '605499',
 '603127',
 '603613',
 '002279',
 '600184',
 '600212',
 '002648',
 '002945',
 '002192',
 '603712',
 '600229',
 '001330',
 '600745',
 '002415',
 '002709',
 '601098',
 '000921',
 '600193',
 '002574',
 '002197',
 '600977',
 '002772',
 '002008',
 '301141',
 '600636',
 '600556',
 '600637',
 '603648',
 '605162',
 '002092',
 '603215',
 '600959',
 '002354',
 '002576',
 '000639',
 '600388',
 '002799',
 '002420',
 '001270',
 '301113',
 '002746',
 '601028',
 '301339',
 '002611',
 '000721',
 '600884',
 '002955',
 '603889',
 '603189',
 '600588',
 '301088',
 '002493',
 '301171',
 '002678',
 '600749',
 '301188',
 '002045',
 '600882',
 '601606',
 '000850',
 '000655',
 '600996',
 '002876',
 '000560',
 '603618',
 '603378',
 '002338',
 '002168',
 '603109',
 '301215',
 '603103',
 '000923',
 '002891',
 '603997',
 '003031',
 '002624',
 '002131',
 '000793',
 '002858',
 '001328',
 '301169',
 '605189',
 '600354',
 '002159',
 '600814',
 '002910',
 '600476',
 '600730',
 '600718',
 '000576',
 '002300',
 '001203',
 '002356',
 '600941',
 '603600',
 '000860',
 '002245',
 '002878',
 '002512',
 '000807',
 '002301',
 '001338',
 '600647',
 '000529',
 '002068',
 '003032',
 '603138',
 '600386',
 '002755',
 '601121',
 '603466',
 '002803',
 '000960',
 '002405',
 '603888',
 '600593',
 '603666',
 '600455',
 '600624',
 '002195',
 '600894',
 '002982',
 '003000',
 '600238',
 '002846',
 '600551',
 '002073',
 '600418',
 '002852',
 '002941',
 '000852',
 '001283',
 '000816',
 '601390',
 '603032',
 '301096',
 '301112',
 '002836',
 '603171',
 '002549',
 '603912',
 '605066',
 '002820',
 '002127',
 '000430',
 '301118',
 '002222',
 '600828',
 '603052',
 '002935',
 '603970',
 '002738',
 '000048',
 '601698',
 '002544',
 '600986',
 '603108',
 '002717',
 '002515',
 '600616',
 '002481',
 '603826',
 '603050',
 '002186',
 '002264',
 '001318',
 '601998',
 '600063',
 '605599',
 '002153',
 '001314',
 '000962',
 '002414',
 '002530',
 '301009',
 '605136',
 '000603',
 '002246',
 '601777',
 '600787',
 '603679',
 '600110',
 '002089',
 '002053',
 '600506',
 '002254',
 '002908',
 '605108',
 '000063',
 '603217',
 '002184',
 '600028',
 '600050',
 '301368',
 '603116',
 '603121',
 '002336',
 '002041',
 '600482',
 '600522',
 '000905',
 '601233',
 '002668',
 '000557',
 '002845',
 '301116',
 '600180',
 '002925',
 '000863',
 '301363',
 '002792',
 '002104',
 '603399',
 '002341',
 '002261',
 '600255',
 '603136',
 '301428',
 '601555',
 '001323',
 '601881',
 '002905',
 '601989',
 '600197',
 '603976',
 '601699',
 '000617',
 '000035',
 '002600',
 '603985',
 '301125',
 '600084',
 '600962',
 '002597',
 '000534',
 '600425',
 '301183',
 '600233',
 '600857',
 '002219',
 '002730',
 '002554',
 '301039',
 '002193',
 '002448',
 '601677',
 '603527',
 '600278',
 '601668',
 '002697',
 '603843',
 '000957',
 '000524',
 '600096',
 '002327',
 '600490',
 '000751',
 '603306',
 '600549',
 '000415',
 '600879',
 '000338',
 '301189',
 '002563',
 '603225',
 '600590',
 '600571',
 '301180',
 '600499',
 '603887',
 '600498',
 '002786',
 '002253',
 '603927',
 '002657',
 '000710',
 '603068',
 '301226',
 '601163',
 '002235',
 '600686',
 '000735',
 '001300',
 '603956',
 '600644',
 '000564',
 '600845',
 '600990',
 '002520',
 '002467',
 '603877',
 '601857',
 '600936',
 '002478',
 '603663',
 '000568',
 '600371',
 '002385',
 '600148',
 '600653',
 '000032',
 '600031',
 '002404',
 '600510',
 '002638',
 '301032',
 '002581',
 '603808',
 '002667',
 '600728',
 '600568',
 '600826',
 '002635',
 '605128',
 '002380',
 '603000',
 '002507',
 '002601',
 '000099',
 '600640',
 '000151',
 '600770',
 '301333',
 '002445',
 '301327',
 '002877',
 '600666',
 '000977',
 '601117',
 '002833',
 '605338',
 '301121',
 '000880',
 '002232',
 '301131',
 '002456',
 '603866',
 '601996',
 '301085',
 '600935',
 '002440',
 '001209',
 '600618',
 '600155',
 '605589',
 '603508',
 '301239',
 '002029',
 '603155',
 '002374',
 '002248',
 '002695',
 '002892',
 '605167',
 '002640',
 '002965',
 '603958',
 '002659',
 '000636',
 '603816',
 '603123',
 '600210',
 '002052',
 '002044',
 '002042',
 '603861',
 '002139',
 '603569',
 '601688',
 '301367',
 '600727',
 '002375',
 '301050',
 '603227',
 '002531',
 '603516',
 '000906',
 '001218',
 '000566',
 '002315',
 '603579',
 '002651',
 '603307',
 '600339',
 '301286',
 '600893',
 '002642',
 '301060',
 '002461',
 '002622',
 '603687',
 '001236',
 '600746',
 '603626',
 '002065',
 '000504',
 '002731',
 '600395',
 '002728',
 '603289',
 '601728',
 '603456',
 '000677',
 '301100',
 '000978',
 '002009',
 '601168',
 '605488',
 '603110',
 '301177',
 '600125',
 '301102',
 '600259',
 '002962',
 '002095',
 '601007',
 '301150',
 '600419',
 '600132',
 '002863',
 '600665',
 '000420',
 '603392',
 '605123',
 '301212',
 '002987',
 '000837',
 '000910',
 '002579',
 '002605',
 '002072',
 '603106',
 '000848',
 '301001',
 '000913',
 '301349',
 '600818',
 '601956',
 '002741',
 '603630',
 '603135',
 '603486',
 '603283',
 '002036',
 '603992',
 '002607',
 '301266',
 '301338',
 '000708',
 '600135',
 '002774',
 '603798',
 '603517',
 '002862',
 '000792',
 '600231',
 '600501',
 '601890',
 '301283',
 '600239',
 '000545',
 '000716',
 '605198',
 '600682',
 '000822',
 '002423',
 '600258',
 '301083',
 '002307',
 '600981',
 '601882',
 '605266',
 '301168',
 '002686',
 '603112',
 '600097',
 '603319',
 '301036',
 '002340',
 '002835',
 '600409',
 '301062',
 '600410',
 '000876',
 '601718',
 '000858',
 '600717',
 '002249',
 '603026',
 '001317',
 '002702',
 '600449',
 '600531',
 '600429',
 '002369',
 '003010',
 '002251',
 '002337',
 '605166',
 '600398',
 '002806',
 '603507',
 '600545',
 '603290',
 '002373',
 '301051',
 '600298',
 '002895',
 '000825',
 '603906',
 '301199',
 '601601',
 '001222',
 '600057',
 '000723',
 '603489',
 '600390',
 '002154',
 '603536',
 '600458',
 '000851',
 '605365',
 '601279',
 '301217',
 '000757',
 '301256',
 '603169',
 '301059',
 '002785',
 '002386',
 '301238',
 '600858',
 '603260',
 '601628',
 '000698',
 '600809',
 '603390',
 '000998',
 '002087',
 '603729',
 '603779',
 '002798',
 '603308',
 '002187',
 '600281',
 '002562',
 '000599',
 '603639',
 '603160',
 '603345',
 '603979',
 '600968',
 '600355',
 '600277',
 '000552',
 '600185',
 '603823',
 '605188',
 '003016',
 '000561',
 '002378',
 '002927',
 '600288',
 '301299',
 '000428',
 '301037',
 '605178',
 '301018',
 '002233',
 '301389',
 '603029',
 '600282',
 '600470',
 '002669',
 '600802',
 '603057',
 '600888',
 '002263',
 '002347',
 '003030',
 '600764',
 '002539',
 '603097',
 '002110',
 '603868',
 '002756',
 '002331',
 '002258',
 '603192',
 '601022',
 '002012',
 '001205',
 '600869',
 '600358',
 '605111',
 '002689',
 '002779',
 '600697',
 '600655',
 '600783',
 '600141',
 '000811',
 '603353',
 '603900',
 '000821',
 '600960',
 '600336',
 '600547',
 '002097',
 '600983',
 '002476',
 '002749',
 '002513',
 '600860',
 '600753',
 '600797',
 '600320',
 '601086',
 '600671',
 '002882',
 '301336',
 '002735',
 '600509',
 '301007',
 '605077',
 '601065',
 '002081',
 '601038',
 '600073',
 '003021',
 '002650',
 '002626',
 '000898',
 '301325',
 '301326',
 '601778',
 '002685',
 '600846',
 '601186',
 '301390',
 '002634',
 '301300',
 '603018',
 '001207',
 '603766',
 '603728',
 '603929',
 '002442',
 '600705',
 '600586',
 '301026',
 '002951',
 '000547',
 '600523',
 '301314',
 '601615',
 '603073',
 '301155',
 '002654',
 '301185',
 '600250',
 '601633',
 '002167',
 '002273',
 '002577',
 '001289',
 '002054',
 '002463',
 '002361',
 '000629',
 '002299',
 '003004',
 '000969',
 '600633',
 '000915',
 '603131',
 '002136',
 '002587',
 '002322',
 '603898',
 '603967',
 '001339',
 '002828',
 '603860',
 '002486',
 '002350',
 '002274',
 '605333',
 '002677',
 '600172',
 '002268',
 '002800',
 '600248',
 '301361',
 '600583',
 '600190',
 '000506',
 '002522',
 '600887',
 '002575',
 '002111',
 '002031',
 '600938',
 '002690',
 '600058',
 '002446',
 '601298',
 '600166',
 '003041',
 '600710',
 '600651',
 '002017',
 '601318',
 '600688',
 '603993',
 '002802',
 '301069',
 '600971',
 '603408',
 '603021',
 '603087',
 '603660',
 '002059',
 '601008',
 '601228',
 '002722',
 '002763',
 '002049',
 '002298',
 '603968',
 '301048',
 '000862',
 '600881',
 '002483',
 '002441',
 '002124',
 '003017',
 '600866',
 '002348',
 '003023',
 '301092',
 '002614',
 '603978',
 '301200',
 '002046',
 '301108',
 '000010',
 '600313',
 '600778',
 '002985',
 '600567',
 '605100',
 '600487',
 '000951',
 '000912',
 '002957',
 '603829',
 '002240',
 '601226',
 '000519',
 '301167',
 '002311',
 '001368',
 ...]

In [4]:
concepts = qs.ths_index_name()
concepts

['英伟达概念',
 '脑机接口',
 'MR（混合现实）',
 '同花顺中特估100',
 '液冷服务器',
 '太赫兹',
 '猴痘概念',
 '粮食概念',
 '存储芯片',
 '数据要素',
 '阿里巴巴概念',
 '安防',
 '白酒概念',
 '标普道琼斯A股',
 '百度概念',
 '北交所概念',
 '边缘计算',
 '丙烯酸',
 '冰雪产业',
 '比亚迪概念',
 '参股保险',
 '宁德时代概念',
 '参股券商',
 '参股新三板',
 '草甘膦',
 '参股银行',
 '长三角一体化',
 '超超临界发电',
 '超导概念',
 '超级电容',
 '超级品牌',
 '超级真菌',
 '超清视频',
 '车联网',
 '成飞概念',
 '充电桩',
 '宠物经济',
 '重组蛋白',
 '抽水蓄能',
 '传感器',
 '创投',
 '创新药',
 '创业板重组松绑',
 '储能',
 '大豆',
 '大飞机',
 '代糖概念',
 '国家大基金持股 ',
 '大数据',
 '低辐射玻璃（Low-E）',
 '锂电池',
 '电子竞技',
 '电子商务',
 '电子身份证',
 '第三代半导体',
 '地下管网',
 '电力物联网',
 '动力电池回收',
 '东数西算（算力）',
 '动物疫苗',
 '抖音概念',
 '独角兽概念',
 '电子纸',
 'EDR概念',
 'ERP概念',
 '三胎概念',
 'ETC',
 '俄乌冲突概念',
 'F5G概念',
 '方舱医院',
 '仿制药一致性评价',
 '钒电池',
 '分拆上市意愿',
 '风电',
 '芬太尼',
 '氟化工概念',
 '福建自贸区',
 '富士康概念',
 '辅助生殖',
 '钙钛矿电池',
 '肝炎概念',
 '高端装备',
 '高铁',
 '高压快充',
 '高压氧舱',
 '共封装光学（CPO）',
 '共同富裕示范区',
 '工业4.0',
 '工业大麻',
 '工业互联网',
 '工业母机',
 '供应链金融',
 '股权转让',
 '广东自贸区',
 '光伏概念',
 '光刻胶',
 '光热发电',
 '固废处理',
 '硅能源',
 '国产操作系统',
 '国产软件',
 '军工',
 '国企改革',
 '国资云',
 '固态电池',
 '钴',
 '共享单车',
 '供销社',
 '海工装备',
 '海南自贸区',
 '海峡两岸',
 '航空发动机',
 '国产航母',
 '航运概念',
 '杭州亚运会',
 '毫米波雷达',
 '核电',
 '黑龙江自贸区',
 '恒大概念',
 '横琴新区',
 '新冠检测',
 '核准制次新股',
 '互联网彩票',
 '互联网金融',
 '互联网医疗',
 '鸿蒙概念',
 '化肥',
 '换电概念',
 '黄金概念',
 '环氧丙烷',
 '华为概念',
 '华为海思概念股',
 '华为鲲鹏',
 '华为欧拉',
 '华为汽车',
 '沪股通',
 '互联网保险',
 '集成电路概念',
 '减速器',
 '建筑节能',
 '家庭医生',
 '家用电器',
 '节能环保',
 '节能照明',
 '金改',
 '京津冀一体化',
 '净水概念',
 '金属回收',
 '金属铅',
 '金属锌',
 '机器人概念',
 '机器视觉',
 '基因测序',
 '健康中国',
 '军民融合',
 '举牌',
 '抗病毒面料',
 '抗原检测',
 '科创次新股',
 '可降解塑料',
 '可燃冰',
 '壳资源',
 '空气能热泵',
 '口罩',
 '快手概念',
 '跨境电商',
 '垃圾分类',
 '冷链物流',
 '两轮车',
 '量子科技',
 '磷化工',
 '流感',
 '露营经济',
 '绿色电力',
 '生态农业',
 '毛发医疗',
 '蚂蚁金服概念',
 '煤化工',
 '煤炭概念',
 '蒙脱石散',
 '免税店',
 '民爆概念',
 'MiniLED',
 '民营医院',
 'MSCI概念',
 '钠离子电池',
 'NFT概念',
 '金属镍',
 '农村电商',
 '农机',
 '农业种植',
 'OLED',
 'PCB概念',
 '培育钻石',
 'PET铜箔',
 '啤酒概念',
 '拼多多概念',
 '苹果概念',
 'PM2.5',
 'POE胶膜',
 'PPP概念',
 '汽车拆解概念',
 '汽车电子',
 '汽车热管理',
 '汽车芯片',
 '期货概念',
 '青蒿素',
 '氢能源',
 '禽流感',
 '区块链',
 '染料',
 '燃料电池',
 '燃料乙醇',
 '人工智能',
 '人造肉',
 '人脸识别',
 '融资融券',
 '柔性屏',
 '柔性直流输电',
 '乳业',
 '赛马概念',
 '上海国企改革',
 '上海自贸区',
 '深股通',
 '生物疫苗',
 '生物医药',
 '生物质能发电',
 '深圳国企改革',
 '社区团购',
 '世界杯',
 '时空大数据',
 '石墨电极',
 '石墨烯',
 '食品安全',
 '室外经济',
 '首发新股',
 '手机游戏',
 '水利',
 '水泥概念',
 '数据安全',
 '数据确权',
 '数据中心',
 '数字货币',
 '数字经济',
 '数字孪生',
 '数字水印',
 '数字乡村',
 '送转填权',
 'ST板块',
 '钛白粉概念',
 '胎压监测',
 '碳交易',
 '碳纤维',
 '碳中和',
 '特钢概念',
 '特高压',
 '腾讯概念',
 '特色小镇',
 '特斯拉',
 '天津自贸区',
 '天然气',
 '体育产业',
 '金属铜',
 '同花顺漂亮100',
 '统一大市场',
 '通用航空',
 'TOPCON电池',
 '土地流转',
 '托育服务',
 '土壤修复',
 '网络直播',
 '网红经济',
 '网络游戏',
 '网约车',
 'MCU芯片',
 '卫星导航',
 '文化传媒',
 'WiFi 6',
 '物联网',
 '无人机',
 '无人驾驶',
 '无人零售',
 '污水处理',
 '无线充电',
 '无线耳机',
 '物业管理',
 '雄安新区',
 '乡村振兴',
 '先进封装（Chiplet）',
 '消毒剂',
 '消费电子概念',
 '小金属概念',
 '小米概念',
 '细胞免疫治疗',
 '新材料概念',
 '信创',
 '新冠特效药',
 '新冠治疗',
 '新股与次新股',
 '新疆振兴',
 '新零售',
 '新能源汽车',
 '芯片概念',
 '信托概念',
 '网络安全',
 '新型城镇化',
 '新型烟草',
 '熊去氧胆酸',
 '稀缺资源',
 '稀土永磁',
 '血氧仪',
 '虚拟电厂',
 '虚拟数字人',
 '虚拟现实',
 '牙科医疗',
 '烟草',
 '养鸡',
 '养老概念',
 '央企国企改革',
 '盐湖提锂',
 '眼科医疗',
 '页岩气',
 '一带一路',
 '移动支付',
 '一季报预增',
 '医疗废物处理',
 '医美概念',
 '疫情监测',
 '一体化压铸',
 '医疗器械概念',
 '有机硅概念',
 '幽门螺杆菌概念',
 '元宇宙',
 '粤港澳大湾区',
 '玉米',
 '云办公',
 '云计算',
 '云游戏',
 '语音技术',
 '预制菜',
 '医药电商',
 '在线教育',
 '在线旅游',
 '噪声防治',
 '中船系',
 '债转股(AMC概念)',
 '智慧城市',
 '智慧灯杆',
 '智慧政务',
 '智能穿戴',
 '智能电网',
 '智能家居',
 '智能交通',
 '智能物流',
 '智能医疗',
 '智能音箱',
 '智能制造',
 '知识产权保护',
 '职业教育',
 '中俄贸易概念',
 '中韩自贸区',
 '中芯国际概念',
 '中字头股票',
 '专精特新',
 '转基因',
 '注册制次新股',
 '猪肉',
 '证金持股',
 '摘帽',
 '装配式建筑',
 '足球概念',
 '租售同权',
 '自由贸易港',
 '3D打印',
 '5G',
 '6G概念']

In [7]:
len(concepts)

376

In [11]:
qs.ths_index_member('中船系')

,代码,名称,现价,涨跌幅,涨速,换手,量比,振幅,成交额(亿),流通股(亿),流通市值(亿),市盈率
0,600072,中船科技,25.97,5.66,-0.04,18.21,1.39,14.52,33.55,7.36,191.20,274.25
1,300847,中船汉光,24.72,3.43,0.08,32.02,1.17,12.38,11.67,1.51,37.33,83.70
2,300516,久之洋,35.92,2.25,-0.08,2.81,1.04,6.69,1.79,1.80,64.66,343.07
3,600482,中国动力,18.82,2.00,0.05,1.55,1.11,6.07,5.81,20.27,381.56,300.21
4,600764,中国海防,27.07,1.16,0.00,0.84,1.34,4.11,1.60,7.11,192.37,309.32
5,600685,中船防务,29.50,0.61,0.03,3.03,1.00,6.75,7.26,8.21,242.32,NaN
6,600150,中国船舶,28.93,0.38,0.00,2.61,1.17,5.59,33.49,44.72,1293.87,742.93
7,300527,中船应急,9.02,1.12,-0.11,3.57,0.96,5.83,3.07,9.63,86.88,NaN
8,601989,中国重工,4.74,1.94,0.21,1.07,1.48,6.45,11.19,220.84,1046.77,406.79
9,688146,中船特气,45.21,-1.61,0.02,11.53,0.93,3.35,3.09,0.59,26.71,70.15

In [15]:
qs.ths_index_data('元宇宙')

              open      high       low     close      volume
date
20210909   970.615   985.873   947.141   948.122  1678510400
20210910   937.705   967.658   937.705   952.163  1232160460
20210913   947.499  1033.759   934.057  1011.346  1614781400
20210914  1011.265  1020.426   984.416   990.858  1521653700
20210915   985.333  1006.313   982.401   984.871  1104452130
...            ...       ...       ...       ...         ...
20230526  1301.277  1334.656  1293.436  1331.961  4241213000
20230529  1337.970  1355.890  1335.052  1346.167  5609175800
20230530  1339.968  1379.108  1323.512  1379.108  6579680000
20230531  1378.326  1403.412  1378.326  1401.358  6249133500
20230601  1392.088  1439.745  1390.633  1439.721  4795700100

[416 rows x 5 columns]

# 日期转换研究

In [5]:
import time
from datetime import datetime, timedelta

In [25]:
today = datetime.now().date()
today

datetime.date(2023, 6, 1)

In [26]:
before = today - timedelta(days=100)
before

datetime.date(2023, 2, 21)

In [27]:
today = datetime.strftime(today, '%Y%m%d')
today

'20230601'

In [29]:
today = time.strftime('%Y%m%d', time.localtime())
today

'20230601'

In [30]:
today = datetime.strptime(today, '%Y%m%d')
today

datetime.datetime(2023, 6, 1, 0, 0)

In [35]:
before = today - timedelta(days=10)
before

datetime.datetime(2023, 5, 22, 0, 0)

# Debug

In [8]:
# check get_ols
N = 14
M = 600

today = datetime.now().date()
pre_date = today - timedelta(days=(N+M)*2)
pre_date = datetime.strftime(pre_date, '%Y%m%d')

data = qs.get_data('000300', start=pre_date, freq='d')
data = data[-(N+M):] # keep the last N+M days

data

100%|██████████| 1/1 [00:00<00:00,  4.23it/s]

,name,code,open,high,low,close,volume,turnover,turnover_rate
date,,,,,,,,,
2020-11-20,沪深300,000300,4928.22,4947.43,4922.59,4943.29,129400340,2.290537e+11,0.44
2020-11-23,沪深300,000300,4954.60,5029.65,4940.45,5005.03,205915187,3.336338e+11,0.70
2020-11-24,沪深300,000300,4997.05,5001.06,4960.98,4974.29,156637911,2.648044e+11,0.53
2020-11-25,沪深300,000300,4992.75,5004.77,4910.70,4910.70,170340526,2.770706e+11,0.58
2020-11-26,沪深300,000300,4908.32,4925.29,4867.82,4919.59,137202337,2.397481e+11,0.47
...,...,...,...,...,...,...,...,...,...
2023-05-26,沪深300,000300,3848.42,3859.63,3815.57,3850.95,100326439,1.915378e+11,0.34
2023-05-29,沪深300,000300,3862.08,3866.72,3819.18,3833.94,131859967,2.300956e+11,0.45
2023-05-30,沪深300,000300,3827.79,3844.01,3789.27,3837.75,137619629,2.445663e+11,0.47
2023-05-31,沪深300,000300,3827.16,3827.16,3781.40,3798.54,126387368,2.356061e+11,0.43
2023-06-01,沪深300,000300,3788.59,3832.21,3786.73,3806.87,134561881,2.418295e+11,0.46

# Calculate MAX using TALib

In [3]:
# get prices for 杭州热电
data = qs.get_data('杭州热电', start='20230101', freq=120)
data.tail()

100%|██████████| 1/1 [00:00<00:00, 17.99it/s]

,name,code,open,high,low,close,volume,turnover,turnover_rate
date,,,,,,,,,
2023-06-01 11:30:00,杭州热电,605011,36.87,39.00,36.55,37.00,117945,441539837.0,9.74
2023-06-01 15:00:00,杭州热电,605011,37.00,38.88,36.61,38.36,68686,259382694.0,5.67
2023-06-02 11:30:00,杭州热电,605011,37.86,40.27,37.03,38.99,128380,501640540.0,10.60
2023-06-02 15:00:00,杭州热电,605011,38.93,39.67,38.26,38.55,51037,198123026.0,4.21
2023-06-05 11:30:00,杭州热电,605011,37.99,42.19,37.90,41.67,164952,660855160.0,13.62

In [4]:
MA3 = ta.MA(data['close'], timeperiod=3)
data['MA3'] = MA3
data.tail()

,name,code,open,high,low,close,volume,turnover,turnover_rate,MA3
date,,,,,,,,,,
2023-06-01 11:30:00,杭州热电,605011,36.87,39.00,36.55,37.00,117945,441539837.0,9.74,38.273333
2023-06-01 15:00:00,杭州热电,605011,37.00,38.88,36.61,38.36,68686,259382694.0,5.67,37.910000
2023-06-02 11:30:00,杭州热电,605011,37.86,40.27,37.03,38.99,128380,501640540.0,10.60,38.116667
2023-06-02 15:00:00,杭州热电,605011,38.93,39.67,38.26,38.55,51037,198123026.0,4.21,38.633333
2023-06-05 11:30:00,杭州热电,605011,37.99,42.19,37.90,41.67,164952,660855160.0,13.62,39.736667

In [5]:
MA10 = ta.MA(data['close'], timeperiod=10)
data['MA10'] = MA10
data.tail()

,name,code,open,high,low,close,volume,turnover,turnover_rate,MA3,MA10
date,,,,,,,,,,,
2023-06-01 11:30:00,杭州热电,605011,36.87,39.00,36.55,37.00,117945,441539837.0,9.74,38.273333,38.823
2023-06-01 15:00:00,杭州热电,605011,37.00,38.88,36.61,38.36,68686,259382694.0,5.67,37.910000,38.934
2023-06-02 11:30:00,杭州热电,605011,37.86,40.27,37.03,38.99,128380,501640540.0,10.60,38.116667,39.014
2023-06-02 15:00:00,杭州热电,605011,38.93,39.67,38.26,38.55,51037,198123026.0,4.21,38.633333,39.036
2023-06-05 11:30:00,杭州热电,605011,37.99,42.19,37.90,41.67,164952,660855160.0,13.62,39.736667,39.306